<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="TfsServer" value="http://sptserver.ists.com.vn:8080/tfs" />
		<add key="TfsProjectUrl" value="http://sptserver.ists.com.vn:8080/tfs/iLendingPro" />
		<add key="TfsQueryGroup" value="My Queries" />
		<add key="TfsQueryName" value="Công việc đang xử lý" />
		<add key="ExcelFile" value="TfsReport.xls" />
		<add key="DevBranchName" value="LOSRestruct2019" />
		<add key="ReleaseBranchName" value="ABB-LOS-01" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>